/***********************
GENERAL
***********************/
body, html {
  background-color: #fff;
  color: #818181;
  font-family: 'Raleway', sans-serif;
}



/***********************
Navigation
***********************/


#container {
  margin: 0 auto;
  width: 100%;
  max-height: 940px;
}

#container #right-column {
  margin-top: 130px;
  width: 40%;
  float: right;
  text-align: justify;
  margin-right: 110px;
}

#container #bottom-container {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 0;

}
#container #left-column {
  width: 50%;
  float: left;
}
img {
  max-width: 100%;
  height: auto;
}
#container #right-column #social-link a {
  margin-top: 35px;
  text-decoration: none;
}
#container #right-column #social-link .icon-social-email, #container #right-column #social-link .icon-social-facebook, #container #right-column #social-link .icon-social-twitter {
  font-size: 3em;
  margin-left: 90px;
  color: #818181;
}


#container #right-column #social-link .icon-social-email:hover, #container #right-column #social-link .icon-social-facebook:hover, #container #right-column #social-link .icon-social-twitter:hover {
  color: #2A9C73;
  text-decoration: none; /*supprimer lien hypertexte du hover*/
}



/***********************
color
***********************/
h1 {
  color: #2A9C73;
}

h2 {
  color: #666;
  font-family: 'Exo', serif;
  font-size: 200%;
}


/***********************
Footer
***********************/

footer {
  background-color: #2A9C73;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 70%;
  text-align: center;
  margin: 0 auto;
}

/***********************
End ;)
***********************/
